{% extends 'base.html' %}
{% block content %}
<div class="card-dark p-4">
    <h2 class="section-title"><i class="fas fa-box"></i> VirtualBox: الدليل الكامل</h2>
    <p>VirtualBox هو برنامج مجاني لإنشاء أجهزة افتراضية (VM) داخل نظامك الحالي.</p>
    <h4 class="text-danger mt-3">المميزات</h4>
    <ul>
        <li>يدعم تشغيل أنظمة متعددة (Windows, Linux).</li>
        <li>بيئة آمنة لعزل الاختبارات.</li>
        <li>الأداة المثالية لتشغيل Kali Linux.</li>
    </ul>
    <a href="/hacking_tools" class="btn btn-red mt-3">العودة</a>
</div>
{% endblock %}
